<!DOCTYPE html>
{% load staticfiles %}
<html{% block html_attributes %}{% endblock %}>
  <meta charset="utf-8">
  {% block html_meta %}
  <title>Blog</title>
  {% endblock %}
  <meta name="viewport" content="width=device-width">
  {% block javascript_head %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" async></script>
  {% block stylesheets %}{% endblock %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

  <body{% block body_attributes %}{% endblock %}>
    {% block header %}{% endblock %}

    {% block body %}
      <div class="container page-body">
        {% block content_title %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    {% endblock %}

    {% block footer %}{% endblock %}
    {% block messages %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
