{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block javascript_head %}
  <script>
  var WebFontConfig = {
    google: {
      families: ['Open+Sans:400,400italic,600:latin'],
    },
  };
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async></script>
{% endblock %}

{% block header %}
<header class="page-head">
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">{% trans "Toggle navigation" %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
          Django Indonesia
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#about">{% trans 'About' %}</a></li>
          <li><a href="#contact">{% trans 'Contact Us' %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
{% endblock %}
