{% extends 'blog/base.html' %}
{% load i18n staticfiles %}

{% block header %}
  <header class="page-header">
    <img src="{% static 'logo.png' %}" alt="Django Indonesia">
  </header>
{% endblock %}

{% block content_title %}
  <h1>Latest blog posts</h1>
{% endblock %}

{% block content %}
  {% if object_list.exists %}
    <ol>
      {% for object in object_list %}
        <li>{{ object.title }}
      {% endfor %}
    </ol>
  {% else %}
    {% trans "No content." %}
  {% endif %}
{% endblock %}
