{% extends 'blog/base.html' %}
{% load i18n django_markdown %}

{% block html_meta %}
  <title>{% trans "Latest blog posts" %}</title>
{% endblock %}

{% block content_title %}
  <h1>{% trans "Latest blog posts" %}</h1>
{% endblock %}

{% block content %}
  {% if object_list.exists %}
    <ol>
      {% for object in object_list %}
        <li>
          <a href="{% url 'blog:detail' slug=object.slug %}">{{ object.title }}</a>
          {{ object.description|markdown|safe }}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    {% trans "No content." %}
  {% endif %}
{% endblock %}
